.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.metals/.reports/bloop/2026-01-04/r_IO error while decod..._20-20-44-303.md
.metals/.reports/metals-full/2026-01-04/r_empty-definition_(root)_19-22-13-854.md
.metals/.reports/metals-full/2026-01-04/r_empty-definition_(root)_19-26-02-601.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-00-15-409.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-18-545.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-18-642.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-018.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-096.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-108.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-139.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-154.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-266.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-19-349.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-110.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-114.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-115.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-116.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-118.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-120.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-121.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-122.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-124.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-125.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-126.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-129.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-130.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-131.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-133.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-134.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-135.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-136.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-137.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-138.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-139.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-141.md
.metals/.reports/metals-full/2026-01-04/r_failed-idex-java_19-25-24-142.md
.metals/.tmp/classpath_729FC5637B17D16B288FCB0910E13358.jar
.metals/.tmp/classpath_A5206FEE899D400560C1FCF92C985DE3.jar
.metals/.tmp/classpath_C7AC6933CBBB415553EF8E00DCFF1BDB.jar
.vscode/launch.json
.vscode/settings.json
